<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Endpoints</title>
</head>

<body>
    <p>Api End Points :&nbsp;</p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getFile/&lt;book_id&gt;</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getHomePage</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getCategories</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getSubjects/&lt;subject&gt;/&lt;page_num&gt;</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getBookDetails/&lt;book_id&gt;</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/getAuthorDetails/&lt;author_id&gt;</a></p>
    <p>- <a class="hk-link" href="https://book-downloader.herokuapp.com/" target="_blank"
            rel="noopener">https://book-downloader.herokuapp.com/search/&lt;keyword&gt;</a></p>
    <p>&nbsp;</p>
</body>

</html>